body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  direction: rtl;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  direction: rtl;
}

th, td {
  padding: 5px;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}

table#t01 tr:nth-child(odd) {
 background-color: #fff;
}

table#t01 th {
  background-color: #313236;
  color: white;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #313236;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

h1 {
  direction: ltr;
}

h2, h3, h4, h5, h6 {
  direction: rtl;
}

p {
 direction: rtl;
}